@{
    ViewData["Title"] = "Create Fish";
}
@model FishMarket.Application.Fishes.CreateFish.CreateFishCommand

    <h2>Create a Fish</h2>

    <p class="text-danger">@Html.ValidationSummary()</p>
    <form enctype="multipart/form-data" method="post">
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Lufer,Tuna etc">
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="form-group mb-3">
            <label for="price">Price</label>
            @Html.TextBoxFor(d=>d.Price,new { @class = "form-control float-number" })
            <span asp-validation-for="Price" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="formImageFile" class="form-label">Image file</label>
            <input class="form-control" asp-for="ImageFormFile" accept="image/*" type="file" id="formImageFile">
            <span class="text-danger" asp-validation-for="ImageFormFile"></span>

        </div>

        <div class="row">
            <div class="form-group col-12">
                <button type="reset" class="btn btn-danger" onclick="resetForm(); return false;">Reset</button>
                <button type="submit" class="btn btn-primary" asp-action="Create" asp-controller="Fish">Submit</button>
            </div>
        </div>
    </form>




@section Scripts{
    <script src="~/js/createFish.js"></script>
}
