

@{
    ViewData["Title"] = "Create Fish";
}
@model FishMarket.Application.Fishes.GetFish.FishDTO

<h2>Create a Fish</h2>

<p class="text-danger">@Html.ValidationSummary()</p>
<form enctype="multipart/form-data" method="post">
    <div class="form-group mb-3">
        <label for="name">Name</label>
        <input type="text" value="@Model.Name" class="form-control" id="name" placeholder="Lufer,Tuna etc" disabled>

    </div>

    <div class="form-group mb-3">
        <label for="price">Price</label>
        <input type="text" value="@Model.Price" class="form-control" id="name" placeholder="Lufer,Tuna etc" disabled>

    </div>
    <div class="mb-3">
        <label for="formImageFile" class="form-label">Image</label>
        <img width="150" src="../@Model.ImagePath" />

    </div>
    <input type="text" name="Id" style="display:none;" asp-for="Id" />
    <div class="row">
        <div class="form-group col-12">
            <button type="submit" class="btn btn-primary" asp-action="Delete" asp-controller="Fish">Delete</button>
        </div>
    </div>
</form>